process {
    withName:markDuplicates {
        container = 'broadinstitute/gatk:latest'
    }
}
process {
    withName:baseRecalibrator {
	container = 'broadinstitute/gatk:latest'
}
process {
    withName:bwa {
        container = 'lewis_bwa:v0.1'
    }
}
process {
    withName:clipBam {
        container = 'lewis_bwa:v0.1'
    }
}
docker {
    enabled = true
}

params.dbsnp_vcf =
params.indel_vcf =

